@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;700&display=swap');
nav{background-color: grey;
    color:white;
    font-weight: bold;
    font-size: larger;
    padding: 1%;
    border: solid rgb(243, 238, 238);
    display: flex;
    margin: 3%;
    justify-content: space-between;
}
.image{float: right;
        margin-right: 30%;}
.data{float: left;
    margin-left: 30%;}
button{border: 0;
        color: white;
        background-color:grey;  
    cursor: pointer;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 72%;}
label{display: block;
    width: 100%;
    padding: 1rem 0 .25rem;
    font-size: 14px;
    border-radius: 5px;}
body{
    font-family: 'poppins';
    background-color: grey;
    margin: 0px;}