@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;700&display=swap');


#formdiv{
    width: 50%;
    /* justify-content: center;
    margin-left: 100px;
    display: flex;
    flex-direction: column; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

 

}

.formspan{
    color: red;
}


.formdivs{
    background-color: blanchedalmond;
    border: 5px;
    box-shadow: 5px;
}
input.largerCheckbox {
    transform : scale(10);
}

button{
    width: 70px;
    height: 40px;
    
}
button:hover{
    color: red
}


.studentlist{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

body{
    font-family: 'poppins';
}

nav{
    background-color: grey;
    color:white;
    font-weight: bold;
    font-size: larger;
    padding: 1%;
    border: solid rgb(243, 238, 238);
    display: flex;
    /* margin: 3%; */
    justify-content: space-between;
    position: static;
    align-items: center;

}
a:hover{
    color: brown;
}

#dataform{
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 760px) {
    .milkProduce{
        display: flex;
        flex-direction: column;
    }
}