<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;700&display=swap');
=======
>>>>>>> 51f14a1c10d273e2ec692b624dc36a4c55e1825f


#formdiv{
    width: 50%;
    /* justify-content: center;
    margin-left: 100px;
    display: flex;
    flex-direction: column; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

 

}

.formspan{
    color: red;
}


.formdivs{
    background-color: blanchedalmond;
    border: 5px;
    box-shadow: 5px;
}
input.largerCheckbox {
    transform : scale(10);
}

button{
    width: 70px;
    height: 40px;
    
}
button:hover{
    color: red
}
<<<<<<< HEAD
=======

.studentlist{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}
<<<<<<< HEAD
>>>>>>> b30ac89589e352cf226ecf2b8cce91ffaa1d1f93
=======

body {
<<<<<<< HEAD
    background-color: burlywood;
    font-family: fantasy;
    font-size: medium;
    
}
>>>>>>> 88db897926ee4e80fc8dd1ecde601a2acf950cf5
=======
    font-family: 'poppins';
}
>>>>>>> c1dd77b035f9e1d4e328253e21323a888b8296b7
